/*
Side-wide styles
 */
@font-face {
  font-family: 'Hugs and Kisses xoxo';
  src: url("/static/img/logo/logo.ttf") format("truetype"); }

body {
  padding-top: 5em;
  font-family: 'IBM Plex Sans', sans-serif; }

::selection {
  background-color: #e2492f;
  color: white; }

::-moz-selection {
  background-color: #e2492f;
  color: white; }

.logo {
  font-family: "Hugs and Kisses xoxo", serif; }

.bg-white {
  background-color: white; }

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem; } }

.navbar-brand {
  font-size: 2.5em;
  padding: 0; }

.navbar-collapse {
  font-size: 1.2em; }

footer {
  text-align: center; }
