/*
Styles specifically for home page
 */
.navbar-brand {
  color: #e2492f !important; }

.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 1px solid white;
  background-color: transparent; }

a.btn {
  color: white; }

.btn:hover {
  background-color: #822a1b; }

button.btn {
  border: 2px solid #e2492f;
  font-weight: bold;
  display: block;
  width: 200px;
  margin: 0 auto;
  color: white;
  background-color: #e2492f; }

button.btn:hover {
  color: white;
  background-color: #822a1b;
  border: 2px solid #822a1b; }

#hoe img, #overons img {
  width: 65%;
  margin-bottom: 30px; }

#hoe svg, #overons svg {
  color: #e2492f; }

#hoe img {
  height: 200px;
  padding: 30px;
  width: auto; }

.jumbotron {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin: 0;
  display: flex;
  align-items: center; }
  .jumbotron .container {
    padding: 20px; }
    .jumbotron .container h1 {
      color: white; }

#jumbo_main {
  background-image: url("/static/img/foto/background.png");
  height: 75vh;
  text-align: center; }
  #jumbo_main h1 {
    font-size: 10em; }
    @media (max-width: 605px) {
      #jumbo_main h1 {
        font-size: 25vw; } }

#jumbo_sec {
  background-image: url("/static/img/foto/tafel.jpg");
  height: 70vh; }
  @media (max-width: 768px) {
    #jumbo_sec {
      height: 600px; }
      #jumbo_sec img {
        width: 100%; } }
  #jumbo_sec .container {
    background-color: rgba(255, 255, 255, 0.8); }

section {
  margin: 40px 0;
  padding: 10px; }
  section h2 {
    font-weight: bolder;
    color: #822a1b;
    text-align: center;
    margin: 0 auto 30px auto;
    font-size: 2.5em; }

#missie_row {
  display: flex;
  align-items: center; }
  #missie_row p {
    text-align: justify; }

.info_row {
  text-align: center; }

#contactcol {
  display: flex;
  align-items: center;
  padding: 20px; }

#contact p:hover, #contact a:hover {
  color: #e2492f; }

.icons {
  font-size: 1.25em;
  line-height: 2em; }
  .icons a {
    text-decoration: none;
    color: black; }
