/*
Styles specifically for home page
 */

$dark-red: #822a1b;
$logo-red: #e2492f;

.navbar-brand {
	color: $logo-red !important;
}

.btn {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;

	border: 1px solid white;

	background-color: transparent;
}

a.btn {
	color: white;
}

.btn:hover {
	background-color: $dark-red;
}

button.btn {
	border: 2px solid $logo-red;
	font-weight: bold;

	display: block;
	width: 200px;
	margin: 0 auto;

	color: white;
	background-color: $logo-red;
}
button.btn:hover {
	color: white;
	background-color: $dark-red;
	border: 2px solid $dark-red;
}

a.anchor {
	display: block;
	position: relative;
	top: -5em;
	visibility: hidden;
}

#hoe_section, #overons_section {
	img {
		width: 65%;
		margin-bottom: 30px;
	}

	svg {
		color: $logo-red;
	}

}

#hoe_section {
	img {
		height: 200px;
		padding: 30px;
		width: auto;
	}
}

.jumbotron {
	// parallax effect
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	// remove rounded corners
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	margin: 0;

	// vertical center container
	display: flex;
	align-items: center;

	.container {
		padding: 20px;

		h1 {
			color: white;
		}
	}

	/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
	@media only screen and (max-device-width: 1366px) {
		background-attachment: scroll;
	}
}

#jumbo_main {
	background-image: url("/static/img/foto/background_sm.jpg");
	@media only screen and (min-width: 769px) {
		background-image: url("/static/img/foto/background.jpg");
	}

	height: 75vh;

	text-align: center;

	h1 {
		font-size: 10em;
		@media (max-width: 605px) {
			font-size: 25vw;
		}
	}
}

#jumbo_sec {
	background-image: url("/static/img/foto/tafel_sm.jpg");
	@media only screen and (min-width: 769px) {
		background-image: url("/static/img/foto/tafel.jpg");
	}
	height: 70vh;


	@media (max-width: 768px) {
		height: 600px;

		img {
			width: 100%;
		}
	}

	.container {
		background-color: rgba(255,255,255,0.8);
	}
}

section {
	margin: 40px 0;
	padding: 10px;

	//padding: 50px 10px;

	h2 {
		font-weight: bolder;
		color: $dark-red;
		text-align: center;
		//margin-bottom: 30px;
		margin: 0 auto 30px auto; // is block element
		font-size: 2.5em;
	}
}

#missie_row {
	// vertical center container
	display: flex;
	align-items: center;

	p {
		text-align: justify;
	}
}

.info_row {
	text-align: center;
}

#photorow {
	margin-bottom: 25px;
}

#contactcol {
	// vertical center container
	display: flex;
	align-items: center;

	padding: 20px;
}

#contact_section {
	p:hover, a:hover {
		color: $logo-red;
	}

}

.icons {
	font-size: 1.25em;
	line-height: 2em;
	a {
		text-decoration: none;
		color: black;
	}
}

#applyConfirmation {
	display: none;
}
