/*
Side-wide styles
 */
@font-face {
  font-family: 'Hugs and Kisses xoxo';
  src: url("/static/img/logo/logo.ttf") format("truetype"); }

body {
  padding-top: 3.5em;
  font-family: 'Quicksand', sans-serif; }

.logo {
  font-family: "Hugs and Kisses xoxo", serif; }

.navbar-brand {
  font-size: 2em; }
