/*
Side-wide styles
 */
@font-face {
	font-family: 'Hugs and Kisses xoxo';
	src: url("/static/img/logo/logo.ttf") format("truetype");
}

$font-logo: 'Hugs and Kisses xoxo', serif;

body {
	padding-top: 3.5em; // adjust for sticky nav bar
	font-family: 'Quicksand', sans-serif;
}

// logo font
.logo {
	font-family: $font-logo;
}

.navbar-brand {
	font-size: 2em;
}

