body {
	padding-top: 3.5em; // adjust for sticky nav bar
	font-family: 'Quicksand', sans-serif;
}

.jumbotron {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	margin: 0;

	// vertical center
	display: flex;
	align-items: center;

	.container {
		padding: 20px;
		background: rgba(255, 255, 255, 0.6);

		h1 {
			margin: 0;
		}
	}
}

#jumbo_main {
	//background-image: url("/static/img/bg/bg1.jpg");
	background-color: #444444;
	height: 65vh;

	text-align: center;

	h1 {
		font-size: 5em;
	}

	.lead {
		font-size: 2em;
	}
}
