/*
Styles specifically for home page
 */
.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 1px solid white;
  background-color: transparent; }

a.btn {
  color: white; }

.btn:hover {
  background-color: #42150e; }

button.btn {
  border: 1px solid #42150e;
  font-weight: bold;
  display: block;
  width: 200px;
  margin: 0 auto; }

button.btn:hover {
  color: white; }

#hoe img, #overons img {
  width: 50%;
  margin-bottom: 20px; }

.jumbotron {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin: 0;
  display: flex;
  align-items: center; }
  .jumbotron .container {
    padding: 20px; }
    .jumbotron .container h1 {
      color: white; }

#jumbo_main {
  background-image: url("/static/img/foto/background.png");
  height: 70vh;
  text-align: center; }
  #jumbo_main h1 {
    font-size: 10em; }
    @media (max-width: 605px) {
      #jumbo_main h1 {
        font-size: 25vw; } }

#jumbo_sec {
  background-image: url("/static/img/foto/tafel.jpg");
  height: 70vh; }
  @media (max-width: 768px) {
    #jumbo_sec {
      height: 500px; }
      #jumbo_sec img {
        width: 100%; } }
  #jumbo_sec .container {
    background-color: rgba(255, 255, 255, 0.8); }

section {
  margin: 40px 0; }
  section h2 {
    font-weight: bolder;
    color: #42150e;
    text-align: center;
    margin: 0 auto 30px auto;
    font-size: 2.5em; }

#missie_row {
  display: flex;
  align-items: center; }

.info_row {
  text-align: center; }

#contactcol {
  display: flex;
  align-items: center; }

.icons {
  font-size: 1.5em;
  line-height: 2em; }
  .icons a {
    text-decoration: none;
    color: black; }
