/*
Styles specifically for home page
 */
.jumbotron {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin: 0;
  display: flex;
  align-items: center; }
  .jumbotron .container {
    padding: 20px; }
    .jumbotron .container h1 {
      color: white; }

#jumbo_main {
  background-image: url("/static/img/foto/background.png");
  height: 70vh;
  text-align: center; }
  #jumbo_main h1 {
    font-size: 10em; }
  #jumbo_main #jumbobtn {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    color: white;
    border: 1px solid white; }
  #jumbo_main a {
    background-color: transparent; }
  #jumbo_main a:hover {
    background-color: #42150e; }

#jumbo_sec {
  background-image: url("/static/img/foto/tafel.jpg");
  height: 75vh; }
  #jumbo_sec .container {
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center; }
    #jumbo_sec .container img {
      width: 50%; }

.row {
  margin: 20px 0; }

.info_row {
  text-align: center;
  display: flex;
  align-items: center; }
  .info_row p {
    text-align: justify; }

#hoe img, #overons img {
  width: 50%; }

form .btn {
  display: block;
  width: 200px;
  margin: 0 auto; }

#contactcol {
  display: flex;
  align-items: center; }

.icons {
  font-size: 1.5em;
  line-height: 2em; }
  .icons a {
    text-decoration: none;
    color: black; }
